/* General body styling */
body {
    background-image: url(../../media/images/bg/bg_faciliteiten.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Faciliteit 1 */
.faciliteit1 {
    width: 19.79%; /* 380px / 1920px */
    height: 25.63%; /* 300px / 1920px */
    border: 1.56% solid #333; /* 30px / 1920px */
    border-radius: 10%; 
    padding: 0.52%; /* 10px / 1920px */
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2); /* 2px, 2px, 8px / 1920px */
    color: white;

    /* Positioning */
    position: absolute;
    top: 20.42%; /* 200px / 1920px */
    left: 21.35%; /* 410px / 1920px */
}

.factexth1 {
    position: absolute;
    top: 6.50%; /* 10px / 1920px */
    left: 6%; /* 30px / 1920px */
    font-size: 120.%; /* 30px / 1920px */
}

.factextp1 {
    position: absolute;
    top: 30.13%; /* 60px / 1920px */
    left: 6%; /* 30px / 1920px */
}

/* Faciliteit 2 */
.faciliteit2 {
    width: 19.79%; /* 380px / 1920px */
    height: 25.63%; /* 300px / 1920px */
    border: 1.56% solid #333; /* 30px / 1920px */
    border-radius: 10%; /* 50px / 1920px */
    padding: 0.52%; 
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2);
    color: white;

    /* Positioning */
    position: absolute;
    top: 20.42%; 
    left: 47.4%; /* 910px / 1920px */
}

.factexth2 {
    position: absolute;
    top: 6.50%; /* 10px / 1920px */
    left: 6%; /* 30px / 1920px */
    font-size: 120.%; /* 30px / 1920px */
}

.factextp2 {
    position: absolute;
    top: 3.13%;
    left: 0.52%;
}

/* Faciliteit 3 */
.faciliteit3 {
    width: 19.79%; /* 380px / 1920px */
    height: 25.63%; /* 300px / 1920px */
    border: 1.56% solid #333; /* 30px / 1920px */
    border-radius: 10%; /* 50px / 1920px */
    padding: 0.52%; 
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2);
    color: white;

    /* Positioning */
    position: absolute;
    top: 48.65%; /* 550px / 1920px */
    left: 21.35%;
}

.factexth3 {
    position: absolute;
    top: 6.50%; /* 10px / 1920px */
    left: 6%; /* 30px / 1920px */
    font-size: 120.%; /* 30px / 1920px */
}

.factextp3 {
    position: absolute;
    top: 3.13%;
    left: 1.56%;
}

/* Faciliteit 4 */
.faciliteit4 {
    width: 19.79%; /* 380px / 1920px */
    height: 25.63%; /* 300px / 1920px */
    border: 1.56% solid #333; /* 30px / 1920px */
    border-radius: 10%; /* 50px / 1920px */; 
    padding: 0.52%; 
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2);
    color: white;

    /* Positioning */
    position: absolute;
    top: 48.65%; 
    left: 47.4%;
}

.factexth4 {
    position: absolute;
    top: 6.50%; /* 10px / 1920px */
    left: 6%; /* 30px / 1920px */
    font-size: 200.%; /* 30px / 1920px */
}

.factextp4 {
    position: absolute;
    top: 3.13%;
    left: 1.56%;
}

/* Faciliteit 5 */
.faciliteit5 {
    width: 19.79%; /* 380px / 1920px */
    height: 25.63%; /* 300px / 1920px */
    border: 1.56% solid #333; /* 30px / 1920px */
    border-radius: 10%; /* 50px / 1920px */; 
    padding: 0.52%; 
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2);
    color: white;

    /* Positioning */
    position: absolute;
    top: 76.88%; /* 900px / 1920px */
    left: 21.35%;
}

.factexth5 {
    position: absolute;
    top: 6.50%; /* 10px / 1920px */
    left: 6%; /* 30px / 1920px */
    font-size: 200.%; /* 30px / 1920px */
}

.factextp5 {
    position: absolute;
    top: 3.13%;
    left: 1.56%;
}

/* Faciliteit 6 */
.faciliteit6 {
    width: 19.79%; /* 380px / 1920px */
    height: 25.63%; /* 300px / 1920px */
    border: 1.56% solid #333; /* 30px / 1920px */
    border-radius: 10%; /* 50px / 1920px */; 
    padding: 0.52%; 
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2);
    color: white;

    /* Positioning */
    position: absolute;
    top: 76.88%; 
    left: 47.4%;
}

.factexth6 {
    position: absolute;
    top: 6.50%; /* 10px / 1920px */
    left: 6%; /* 30px / 1920px */
    font-size: 150.%; /* 30px / 1920px */
}

.factextp6 {
    position: absolute;
    top: 3.13%;
    left: 1.56%;
}

/* Menu */
.menu {
    width: 23.44%; /* 450px / 1920px */
    height: 90%; /* 910px / 1920px */
    border: 1.56% solid #333;
    border-radius: 9%; 
    padding: 0.52%; 
    background-color: #333;
    box-shadow: 0.1% 0.1% 0.42% rgba(0, 0, 0, 0.2);
    color: white;

    /* Positioning */
    position: absolute;
    top: 20.42%; 
    left: 72%; /* 1500px / 1920px */
}

.menuh1 {
    position: absolute;
    top: 0.52%; 
    left: 2.6%; /* 50px / 1920px */
    font-size: 1.56%;
}

.menup1 {
    position: absolute;
    top: 3.13%; 
    left: 7.81%; /* 150px / 1920px */
}
