body {
    background-image: url(../../media/images/bg/bg_recreatie.png);
}


#gameBox {
    width: 90%;
    height: 52%;
    
    margin-left: 50%;
    transform: translateX(-50%);

    background-color: #363636;
    border-radius: 50px;
}

#recreatieBox {
    width: 77%;
    height: 35%;

    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    
    background-color: #363636;
    border-radius: 50px;

    display: none; /* Temp */
}