body {
    background-image: url(../../media/images/bg/bg_recreatie.png);
}





#gameBox {
    width: 90%;
    height: 52%;
    
    margin-left: 50%;
    transform: translateX(-50%);

    background-color: #363636;
    border-radius: 50px;
    padding: 50px;

    display: flex;
}



#gameBoxLeft {
    width: 70%;
    height: 100%;
}

#gameSystemBox {
    font-size: 30px;
}
#gameTitleLine {
    margin-top: 10px;
    margin-bottom: 20px;
}

#gameBottomBox {
    height: 78%;
    width: 100%;

    display: flex;
}
#selectBox {
    height: 100%;
    width: 12%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#selectInnerBox {
    width: 55%;
    height: 82%;
}
#selectInnerBox img {
    width: 100%;
    height: 27%;

    opacity: 0.5;
}
#arrowUp {
    transform: scaleY(-1);
}
#numberBox {
    width: 100%;
    height: 46%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#numberBox p {
    width: 100%;
    text-align: center;
}

#gameTitle {
    font-size: 30px;
    margin-bottom: 10px;
}


#gameBoxLine {
    height: 100%;
    align-self: center;
}


#gameBoxRight {
    height: 100%;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
#gameImg {
    width: 100%;
}





#recBox {
    width: 77%;
    height: 35%;

    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    
    background-color: #363636;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.recItem {
    height: 83%;
    width: 20%;

    background-color: white;
    border-radius: 25px;

    transition: all 0.2s ease;

    /* Temp */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.recItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}

