body {
    background-image: url(../media/images/bg/bg_info.png);
}

#gameBox {
    width: 160%;
    height: 52%;
    
    margin: center;
    transform: translateX(-50%);

    background-color: #363636;
    border-radius: 50px;
    padding: 50px;

    display: flex;
}

#gameBoxLeft {
    width: 70%;
    height: 100%;
}


#gameSystemBox {
    font-size: 30px;
}
#gameTitleLine {
    margin-top: 10px;
    margin-bottom: 20px;
}

#gameTitle {
    font-size: 30px;
    margin-bottom: 10px;
}




#gameBoxRight {
    height: 100%;
    aspect-ratio: 0 / 1;
    display: flex;
    justify-content: right;
}






