body {
    background-image: url(../media/images/bg/bg_info.png);
}

main {
    overflow-y: auto;
}



.personBox {
    min-height: 64%;
    width: 90%;

    margin-bottom: 6.8%;
    margin-left: 50%;
    transform: translateX(-50%);

    background-color: #363636;
    border-radius: 50px;
    padding: 50px;

    display: flex;
}
.imageBox {
    width: 23%;
    border-radius: 25px;
}
.imageBox img {
    width: 100%;
}
.names {
    font-size: 30px;
    margin-bottom: 10px;
}

#fknRuimte {
    height: 1px;
}