body {
    background-image: url(../media/images/bg/bg_info.png);
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

#gameBox {
    display: flex;
    flex-direction: column; /* Items standaard onder elkaar */
    gap: 2px; /* Ruimte tussen de divs */
    width: 90%;
    margin: 0 auto; /* Centreer de box op de pagina */
    background-color: #363636;
    border-radius: 20px;
    padding: 20px;
}

#gameBoxLeft, #gameBoxRight {
    width: 100%; /* Zorg dat de divs dezelfde breedte hebben */
    text-align: left; /* Centreer tekst of inhoud binnen de divs */
}

#gameImg {
    max-width: 100%;
    border-radius: 100px;
}

/* Responsive layout: divs naast elkaar op grotere schermen */
@media (min-width: 768px) {
    #gameBox {
        flex-direction: row; /* Items naast elkaar */
        justify-content: space-between;
        align-items: center;
    }

    #gameBoxLeft {
        width: 400%; /* Geef beide divs 45% van de breedte */
    }
}

#verticalelijn {
    height: 100%;
    width: 100%;
}
