/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body {
    display: flex;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #eaeaea;
}


/* Primary Boxes Styling */
header, main {
    height: 100vh;
}
header {
    background-color: #262626;
    width: 15vw;
}
main {
    width: 100%;
}


/* Header Internal Styling */
#logoBox {
    padding: 10px;
}
#logoBox img {
    width: 100%;

    margin-left: 50%;
    transform: translateX(-50%);
}

#navBox {
    width: 100%;
    background-color: #363636;

    font-size: 40px;
    text-align: center;
}
.navItem:hover {
    background-color: #262626;
    cursor: pointer;
}